# Why Python?

Python is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming.

Python, similar to other languages like matlab or R, is interpreted hence runs slowly compared to C++, Fortran or Java. However writing programs in Python is very quick. 

Python has a very large collection of libraries for everything from scientific computing to web services. It caters for object oriented and functional programming with module system that allows large and complex applications to be developed in Python.

![](https://imgs.xkcd.com/comics/python.png)


These lectures are using jupyter notebooks which mix Python code with documentation.
Code and text are written in cells, you can execute the statements by pressing **shift+return** to run a cell and advance to the next, or **ctrl+return** to run a cell.
You can aaccess the docs for a function using **?** e.g. :
```python
print?
```
You can use _**tab**_ to get the auto-completion while editing a code cell.

#### 📖 Useful docs 📖 

[jupyter](http://jupyter.org/documentation.html)

[pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)

[geopandas](http://geopandas.org/)

[numpy](https://docs.scipy.org/doc/numpy-1.13.0/reference/)

[pyplot](https://matplotlib.org/api/pyplot_api.html)

# Writing Python Code

## Basic syntax for statements 
The basic rules for writing simple statments and expressions in Python are:
* No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python (see the section on control statements). For now simply ensure that all statements start at the beginning of the line.
* The '#' character indicates that the rest of the line is a comment
* Statements finish at the end of the line:

The jupyter notebook system for writting Python intersperses text (like this) with Python statements. Try typing something into the cell (box) below and press the shift+enter to execute it.

In [1]:
1+2+3

6

Python has extensive help built in. You can execute **help()** for an overview or **help(x)** for any library, object or type **x** to get more information. For example, getting help on the print function:

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Variables & Values

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [3]:
x = 2          # anything after a '#' is a comment
y = 5
xy = 'Hey'
print(x+y, xy) # not really necessary as the last value in a bit of code is displayed by default

7 Hey

Multiple variables can be assigned with the same value.

In [4]:
x = y = 1
print(x,y)

1 1

The basic types build into Python include `float` (floating point numbers), `int` (integers), `str` (unicode character strings) and `bool` (boolean). Some examples of each:

```python
2.0           # a simple floating point number
1e100         # a googol 
-1234567890   # an integer
True or False # the two possible boolean values
'This is a string'
"It's another string"
"""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)"""
```

## Operators

### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [36]:
1+2

3

In [37]:
2-1

1

In [38]:
1*2

2

In [39]:
3/4

0.75

In [40]:
3//4.0

0.0

In [41]:
15%10

5

### Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [44]:
z = 2
z == 2

True

In [45]:
z > 2

False

Comparisons can also be chained in the mathematically obvious way. The following will work as expected in Python (but not in other languages like C/C++):

In [46]:
0.5 < z <= 1

False

**int( )** converts a number to an integer. This can be a single floating point number, integer or a string. For strings the base can optionally be specified:

In [8]:
print(int(7.7))
print(int('42'))

7
42

 Similarly, the function **str( )** can be used to convert almost anything to a string

In [9]:
print(str(True))
print(str(1.2345678))

True
1.2345678

### Mathematical functions
Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant $\pi$ and so on.

In [10]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

## Strings

As seen previously, The **print()** function prints all of its arguments as strings, separated by spaces and follows by a linebreak:

In [13]:
print("Hello World")

Hello World

### String Manipulation

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [12]:
string1='World'
string2='!'
print('Hello' + string1 + string2)

HelloWorld!

## List
Lists are defined as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list. Lists do not have to be homogenous. Each element can be of a different type.

In [35]:
a = []
l = ['apple 🍎', 'orange 🍊', 'pear 🍐', 'lemon 🍋']

In python, __indexing starts from 0__. Thus now the list `l`, which has four elements will have __apple 🍎__ at index 0 and __orange 🍊__ at index 1, etc.

Indexing can also be done in reverse order. That is the last element can be accessed first.

In [36]:
print(l[0])
print(l[-1])

apple 🍎
lemon 🍋

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [37]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [ ]:
len(num)

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list. Similarly **sum** is the sum

In [93]:
print("min =",min(num),"  max =",max(num),"  total =",sum(num))

min = 0   max = 9   total = 45

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [95]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [28]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Space' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [29]:
'Fire' in names

True

In [30]:
'Space' in names

False

**append( )** is used to add a single element at the end of the list.

In [31]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

### List comprehension
A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression. For example:

In [32]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

As can be seen this constructs a new list by taking each element of the original `[1,2,3]` and squaring it.

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. T

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [38]:
tup = ()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [39]:
27,

(27,)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [40]:
tup2 = (1,2,3)
print(tup2)

(1, 2, 3)

It follows the same indexing and slicing as Lists.

### Mapping one tuple to another
Tupples can be used as the left hand side of assignments and are matched to the correct right hand side elements - assuming they have the right length

In [41]:
(a,b,c)= ('alpha','beta','gamma') # are optional
a,b,c= 'alpha','beta','gamma' # The same as the above
print(a,b,c)

alpha beta gamma